body {
  font-family: sans-serif;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  z-index: -9999;
  left: -999;
  top: -999;
}

.tooltip.active {
  visibility: visible;
}

.tooltip .box {
  padding: 5px;
  background-color: #808080;
  color: #fff;
}
